# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
.idea/modules.xml
.idea/*.iml
.idea/modules
.idea/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

\.idea/workspace\.xml

src/\.idea/encodings\.xml

src/\.idea/misc\.xml

src/\.idea/modules\.xml

src/\.idea/vcs\.xml

src/\.idea/src\.iml

src/\.idea/workspace\.xml

src/main/java/org/group38/EnhetsTesting\.java
