.side-menu{
    -fx-background-color: #d6d6d6;
}

.button {
    -fx-background-color: #4780a8;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.button:hover{
    -fx-background-color: #568cac;
}


.eventsView:pressed{


}

.menuBackground{
    -fx-background-color: red;
}

.headerPane{
    -fx-background-color: #4780a8;
}

.headerPane-txt{
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.h1{
    -fx-font-size: 20;
}

.h4{
    -fx-font-size: 12;
}

.padding{

}

.seatScene{
    -fx-background-color: #4780a8;
    -fx-text-fill: white;
    -fx-font-size: 28;
}

.seatList{
    -fx-font-size: 10;
}

.seatView{
    -fx-border-color: #4780a8;
    -fx-border-width: 2;
}

.bp-center{
}


